/* Slider.css */
/* .slider {
    display: flex;
    overflow: hidden;
} */

/* .slide { */
/* width: 50%;
    flex: 0 0 auto; */
/* Set the desired height of the slider */
/* height: 400px; */
/* Set a background color or use background images */
/* background-color: #be2383;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333; */
/* } */